.Drop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: 200ms ease-out darken forwards;
}

.box1, .box2, .box3 {
    position: fixed;
    width: 150px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
}

.box1 {
    background-color: white;
    animation: 200ms ease-out rotate1 forwards;
}

.box2 {
    background-color: lightgrey;
    animation: 200ms ease-out rotate2 forwards;
}

.box3 {
    background-color: grey;
    animation: 200ms ease-out rotate3 forwards;
}

@keyframes darken {
    0% {
        background-color: rgba(0,0,0,0);
    }
    100% {
        background-color: rgba(0,0,0,0.8);
    }
}

@keyframes rotate1 {
    0% {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-30deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

@keyframes rotate3 {
    0% {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(30deg);
    }
}