.RefImage {
    user-select: none;
}

.innerImg {
    max-width: 100%; /* Prevents image from overflowing Rnd */
}

.selected {
    outline: 3px solid cyan; /* outline instead of border to not affect size */
}