.ContextMenuButton {
    display: flex;
    padding: 10px 20px;
    color: white;
    user-select: none;
    background-color: black;
    width: 200px;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    justify-content: space-between;
}

.ContextMenuButton:hover {
    background-color: gray;
}

.disabled {
    color: grey;
    pointer-events: none;
}

.shortcut {
    color: grey;
}