.Canvas {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(16, 16, 16);
    z-index: -999;
}

.transformWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30);
}

.selectionBox {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.2);
}

.cover {
    /* visibility: hidden; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}