.Debug {
    position: fixed;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 999;
}

.Debug > button {
    display: block;
}

.wrench {
    cursor: pointer;
    margin-bottom: 5px;
}